<div>
  <h2>Detail view</h2>
  <div ng-hide='uniqueBook'>
    Invalid book
  </div>
  <div ng-show='uniqueBook'>
    <div>{{ uniqueBook.title }} by {{ uniqueBook.author }}</div>
    <div>Summary: {{ uniqueBook.summary }}</div>
  </div>

  <div ng-repeat='book in physicalBooks'>
    <div>Owner: {{book.owner.username}}</div>
    <div>Comments: {{book.comment}}</div>
    <div ng-show='book.borrower'>Status: Available</div>
    <div ng-hide='book.borrower'>Status: Unavailable</div>
  </div>

</div>
