<div>
  <div ng-show='invalidId'>
    Invalid book
  </div>
  <div ng-show='uniqueBook'>
    <h3>{{ uniqueBook.title }} by {{ uniqueBook.author }}</h3>
      <br>
    <h4>Summary</h4>
      <p>{{ uniqueBook.summary }}</p>
      <br>
    <h4>Available Copies of this Title:</h4>
  </div>
  <hr />

  <p ng-show='notborrowed'>There was an error when trying to borrow the book</p>
  <p ng-show='borrowed'>You have successfully borrowed <b>{{borrowedTitle}}</b></p>


  <table class = "table table-bordered table-striped">
   <tr>
    <th>Owner</th>
    <th>Comments</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat='book in physicalBooks'>
    <td>{{book.owner.username}}</td>
    <td>{{book.comment}}</td>
    <td><span ng-hide='book.borrower'>Available</span><span ng-show='book.borrower'>Unavailable</span></td>
    <td><button ng-hide='book.borrower' ng-click='borrow(book)' class="btn btn-sm btn-success">Borrow</button></td>
  </tr>
</table>

</div>
