<div>

<h3>Welcome to the Book Exchange</h3>
    <p>Join a community of people who share their favorite books.   &nbsp;&nbsp;&nbsp;&nbsp;  Lend a book.   Borrow a book.</p>

    <div class="gridthing">

        <div class="factbox">
            We have
            <div class="bignumber">{{usersCount}}</div>
            members.
        </div>

        <div class="factbox">
            Our members have
            <div class="bignumber">{{titlesCount}}</div>
            unique titles.
        </div>
    </div>

    <div class="gridthing">
        <div class="factbox">
            Our members have
            <div class="bignumber">{{bookCount}}</div>
            physical books.
        </div>

        <div class="factbox">
            Members now have
            <div class="bignumber">???</div>
            books on loan to other community members.
        </div>
    </div>

</div>
<br><br><br>
<p>"Both a borrower and a lender be..."  !Polonius, Hamlet
