<div ng-controller="HomeCtrl as Home">

<h3>Welcome to the Book Exchange</h3>
    <p>"Both a borrower and a lender be..."  !Polonius, Hamlet
    <p>Join a community of people who share their favorite books.    Lend a book, borrow a book.</p>

    <div class="gridthing">

        <div class="factbox">
            We have
            <div class="bignumber">{{usersCount}}</div>
            members.
        </div>

        <div class="factbox">
            Our members have
            <div class="bignumber">{{titlesCount}}</div>
            unique titles.
        </div>
    </div>

    <div class="gridthing">
        <div class="factbox">
            Our members have
            <div class="bignumber">{{bookCount}}</div>
            phyiscal books.
        </div>

        <div class="factbox">
            Members now have
            <div class="bignumber">???</div>
            books on loan to other community members.
        </div>
    </div>

</div>