<div ng-controller="HomeCtrl as Home">

<h3>Welcome to the Book Exchange</h3>

    <p>"Both a borrower and a lender be..."  !Polonius, Hamlet

    <p>Join a community of people who share their favorite books.</p>

    <p>Lend a book, borrow a book.</p>

    <br>

    <a href="/connect/facebook/">Facebook Login</a>

    <br><br>

    <a ng-click ="fblogout()" href="/#/home">Facebook Logout</a>

    <br>
    <br>

    <p>We have X members - Join Us Today</p>

    <br>

    <p>Our members have Y unique books</p>

    <br>

    <p>Our members have Z phyiscal books</p>

    <br>

    <p>Q books are currently on loan.</p>



</div>