<script src='js/check-auth.js'></script>
<h2>My profile</h2>

<div>Hello {{username}}!</div>
<img src={{picture}}>



<h3>Enter a New Book</h3>



<form id="makeBook" data-ng-submit="addBook(title, author, comment)">

  <input type="text" size="100" data-ng-model="title" placeholder="Enter Book Title">
  <br>
  <input type="text" size="100" data-ng-model="author" placeholder ="Enter Author Name" >
  <br>
  <input type="text" size="100" data-ng-model="comment" placeholder="Enter Comment">
  <br>
  <button class="btn btn-primary"
          ng-submit="addbook( title, author, comment)">
    Create New Book Record
  </button>

</form>





<br><br>

<form>
  <fieldset class="form-group">
    <label for="title">Enter Exact Title Here</label>
    <textarea class="form-control" id="title" name='title' rows="3"></textarea>
  </fieldset>
<br>
  <fieldset class="form-group">
    <label for="author">Author Name, First then Last</label>
    <textarea class="form-control" id="author" name="author" rows="3"></textarea>
  </fieldset>
<br>
  <fieldset class="form-group">
    <label for="comment">Comments, Reviews or Anything Else About This Book</label>
    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
  </fieldset>

  </fieldset>
  <br>
   </div>
  <button class="btn btn-primary"
          ng-click="addbook(title, author, comment)">Create New Book Record</button>
</form>




<h2>My Books</h2>
<div ng-show=deleteResponse>Successfully deleted {{deleteResponse.unique_book.title}}</div>

<ul>
  <li ng-repeat='book in books'>
    <div>Title: {{book.unique_book.title}}</div>
    <div>Author: {{book.unique_book.author}}</div>
    <div ng-show=book.borrower>Borrowed by: {{book.borrower.username}}</div>
    <button ng-hide=book.borrower ng-click='delete(book.unique_book._id, $index)'>Delete</button>
  </li>
</ul>

<h3>Currently Borrowing</h3>
<ul>
  <li ng-repeat='borrowedBook in borrowing'>
    <div>Title: {{borrowedBook.unique_book.title}}</div>
    <div>Author: {{borrowedBook.unique_book.author}}</div>
    <div>Borrowing From: {{borrowedBook.owner.username}}</div>
    <button ng-click='someFunction()'>Return</button>
  </li>
</ul>

<h2>Currently Lending</h2>
<ul>
  <li ng-repeat='lentBook in lending'>
    <div>Title: {{lentBook.unique_book.title}}</div>
    <div>Author: {{lentBook.unique_book.author}}</div>
    <div>Lent To: {{lentBook.borrower.username}}</div>
  </li>
</ul>
