
body{background-color: whitesmoke; padding:20px; margin: 20px;}
li {
    list-style-type: none;
}
.topnav {border: solid lightgrey 1px;}
.toptitle {display: inline-block;}

.detailsBtn { text-align: right;}

.detailView {text-align: left;
            font-size: 1rem;
            font-family: Arial;
            border: solid black 1px;
            padding: 5px; margin: 10px;
            background-color: antiquewhite;}
