
body{background-color: whitesmoke;}

li { border: solid black 1px; padding: 5px; margin: 10px; }

.detailsBtn { text-align: right;}

.detailView {text-align: left;
            font-size: 1.1rem;
            font-family: Arial;
            border: solid black 1px;
            padding: 5px; margin: 10px;
            background-color: antiquewhite;}