<nav>
    <a href="#/home" class="navbar-brand"> Home </a>
    &nbsp; &nbsp;
    <a href="#/profile" class="navbar-brand"> Profile </a>
    &nbsp; &nbsp;
    <a href="#/books" class="navbar-brand"> All Books </a>
    &nbsp; &nbsp;
    <a href="#/users" class="navbar-brand"> All Users</a>
    &nbsp; &nbsp;&nbsp; &nbsp;


    <a href="/connect/facebook/" class="navbar-brand"> Facebook Login </a>
    &nbsp; &nbsp;

    <a ng-click ="fblogout()" href="/#/home" class="navbar-brand">
    Facebook Logout</a>



</nav>
