<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">
                <img src={{Picture}} >
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li>
                    <a href="#/home" > Home                                                                     <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li>
                    <a href="#/books">Books
                    </a>
                </li>

                <li>
                    <a href="#/users">People</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ng-click="getUser(User)" href="#/publicProfile">
                        <span ng-show="User">Public Profile</span>
                    </a>
                </li>

                <li>
                    <a href="#/profile">
                        <span ng-show="User">
                                {{User}}'s Account
                        </span>
                    </a>
                </li>

                <li>
                    <a ng-click ="fblogout()" href="/#/home">
                        <span ng-show="User">
                                 Logout
                        </span>
                    </a>
                </li>


                <li>
                    <a href="/connect/facebook/">
                        <span ng-show="!User">
                                Login With Facebook
                        </span>
                    </a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>





<!--<nav class="navbar1">-->

    <!--<a href="#/home" > Home </a>-->
    <!--&nbsp; &nbsp;-->

    <!--<a href="#/books"> All Books </a>-->
    <!--&nbsp; &nbsp;-->

    <!--<a href="#/users"> All Users</a>-->
    <!--&nbsp; &nbsp; &nbsp; &nbsp;-->

    <!--<span ng-show="User">-->
        <!--&lt;!&ndash;//change to user&ndash;&gt;-->

        <!--<a ng-click="getUser(User)" href="/#/publicProfile">Public Profile</a>-->

        <!--&nbsp; &nbsp;-->

        <!--<a href="#/profile"> {{User}}'s Account </a>-->
        <!--<img src={{Picture}} >-->

        <!--&nbsp; &nbsp;-->

        <!--<a ng-click ="fblogout()" href="/#/home">-->
            <!--Logout</a>-->
    <!--</span>-->

    <!--&nbsp;&nbsp;&nbsp;&nbsp;-->

    <!--<span ng-show="!User">-->
        <!--<a href="/connect/facebook/"> Login With Facebook </a>-->
    <!--</span>-->



<!--</nav>-->
