    <span>
        <div class="searchbox">
            <div class="glyphicon glyphicon-search"></div>
            <input ng-model="titleFilter" placeholder="Title"></input>
        </div>
    </span>

    <span>
         <div class="searchbox" >
             <div class="glyphicon glyphicon-search"></div>

             <input ng-model="authorFilter" placeholder="Author"></input>
        </div>
    </span>

<br><br>
<h4>Available Book Titles</h4>

<table class = "table table-bordered table-striped">
<tr>
    <th>Title</th>
    <th>Author</th>
    <th>Available status</th>
    <th></th>
  </tr>
  <tr ng-repeat='book in books | filter: { title: titleFilter, author: authorFilter}'>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{book.availability.length}} copies</td>
    <td>
        <button class="btn btn-sm btn-success">
            <a ng-href="#/details/{{book._id}}">View Details & Borrow</a>
        </button>
    </td>
  </tr>
</table>
