<div>
    Search for Book: <input ng-model="typeFilter"></input>
</div>

<p>List of All Books Available for Borrowing</p>

<ul>
    <li ng-repeat='book in books | filter: { title: typeFilter}'
        ng-class='book.title'
        ng-controller='GreetingController'>

        {{ book._id}}:<a ng-href='#/books/{{ book._id }}'>
                {{ book.title }}</a> by {{ book.author }}.

        <div class="detailsBtn">

            <button ng-click="select(book._id)" >
                View Book Details</button>

            <p> Greeting is {{$scope.greeting}} </p>

        </div>

    </li>

</ul>

