<div class="panel panel-default">

    <div class="panel-heading">
        <h3>List of Community Members</h3>
        <div>
            <div class="searchbox">
                <div class="glyphicon glyphicon-search"></div>
                <input ng-model="typeFilter" placeholder="Search for People"></input>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <br>
        <ul class="list-group">
          <li ng-repeat="user in users | filter: { username: typeFilter}" >
              <a  ng-href = "#/publicProfile/{{user._id}}"
                  class="list-group-item">{{user.username}}</a></li>
        </ul>
    </div>
</div>